.page-header
  %h2= @presentation.title
  %p
    %a{:href=>"/pres/view/#{@presentation.id}"} View Presentation
#slides
  -@presentation.slides.each do |slide|
    .row
      .span10
        %pre.box=h slide.content
      .span3
        %form{:method=>'GET',:action=>"/pres/slide/#{slide.id}",:class=>'right'}
          %input{:type=>'submit',:value=>'Edit'}
      .span3
        %form{:method=>'POST',:action=>"/pres/slide/#{slide.id}",:class=>'right'}
          %input{:type=>'hidden',:name=>'_method',:value=>'delete'}
          %input{:type=>'submit',:value=>'Delete'}
%p
  %a{:href=>"/pres/slide/new/#{@presentation.id}"} New Slide
