%h2= @presentation.title
%p
  %a{:href=>"/pres/view/#{@presentation.id}"} View Presentation
#slides
  -@presentation.slides.each do |slide|
    .slide
      .box
        %h3
          %a{:href=>"/pres/slide/#{slide.id}"} Slide
      %form{:method=>'POST',:action=>"/pres/slide/#{slide.id}",:class=>'right'}
        %input{:type=>'hidden',:name=>'_method',:value=>'delete'}
        %input{:type=>'submit',:value=>'Delete'}
    .clear
%p
  %a{:href=>"/pres/slide/new/#{@presentation.id}"} New Slide
